body {
    margin: 0;
    background-color: #101820;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.input-line {
    border: none;
    border-bottom: 2px solid #f2aa4c;
    padding: 10px;
    width: 100%;
    outline: none;
    background-color: transparent;
    color: #1b2936;
    align-items: center;
}

.input-line:focus {
    border-bottom: 2px dashed #f2aa4c;
    background-color: #101820;
    color: #f9f9f9; 
}

.options{
    border: 2px solid #f2aa4c;
    
}
.custom-select{
    border: 2px solid #f2aa4c;
}

.navbar {
    background-color: #1b2936;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 6px 0;
    border-bottom: 5px #f2aa4c solid;
}
.navbar .navbar-brand {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 50px;
}
.navbar .navbar-nav {
    font-family: 'raleway';
    font-style: normal;
    font-size: 50px; 
}
@media (min-width: 992px) {
    .navbar {
        font-size: 20px;
    }
    .navbar .navbar-brand {
        font-size: 32px;
    }
    .navbar .navbar-nav {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-brand {
        font-size: 28px;
    }
    .navbar .navbar-nav {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .navbar .navbar-brand {
        font-size: 24px;
    }
    .navbar .navbar-nav {
        font-size: 16px;
    }
}

.bg-custom{
    background-color: #101820;
    color: #f9f9f9;
}

.redcontainer{
    width: 1000px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #1b2936;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-color: #f2aa4c;
    margin: 0 auto;
    color: white;
}

.copytextbutton {
    background-color: #101820;
    border: 2px solid #f2aa4c; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer; 
    display: flex;
    justify-content: flex-start; 
}

.socialmedia-tray {
    background-color: #1b2936;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.socialmedia-icons {
    display: flex;
    gap: 15px;
    
}

.socialmedia-icons img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    transition: width 0.3s ease;
    filter: invert();
}

.socialmedia-icons img:hover {
    width: 42px;
}

.website-mention {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 10px;
    position: absolute;
    left: 0;
    margin-left: 10px;
    color: #f2aa4c;
    color: inherit;
    text-decoration: none;
}

@media (max-width: 480px) {
    .socialmedia-tray {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .socialmedia-icons {
        margin-bottom: 10px;
    }

    .website-mention {
        position: static;
        margin-left: 0;
        text-align: center;
    }
}