body {
    margin: 0;
    background-color: #F8EDED;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@font-face {
    font-family: 'Figtree';
    src: url(fonts/figtree/Figtree-ExtraBoldItalic.ttf);
    letter-spacing: 3%;
}

@font-face {
    font-family: 'Figtree Regular';
    src: url(fonts/figtree/Figtree-Regular.ttf);
    letter-spacing: 3%;
}

@font-face {
    font-family: 'Figtree Bold';
    src: url(fonts/figtree/Figtree-Bold.ttf);
    letter-spacing: 3%;
}





.navbar {
    background-color: #021526;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 6px 0; 
}

.navbar .navbar-brand {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 36px;
}

.navbar .navbar-nav {
    font-family: 'raleway';
    font-style: normal;
    font-size: 24px; 
}


@media (max-width: 576px) {
    .navbar .navbar-brand {
        font-size: 24px;
        display:flex;
        align-items: center;
    }

    .navbar .navbar-brand img{
        width: 50px;
        height: auto;
    }

    .navbar .navbar-nav {
        font-size: 16px;
    }
}


.profile-container {
    margin-top: 80px; 
    text-align: center;
    padding-bottom: 10px;
    display: flex;
}

.profile {
    font-family: 'Figtree';
    padding-top: 10px;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border-width: 10px;
    border-color: #B43F3F;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; 
        align-items: center;
    }
}

.typing-container {
    font-family: 'Figtree Regular';
    font-size: 40px;
    white-space: nowrap;
    display: inline-flex;
    overflow: visible;
    display: inline;
    position: relative; 
    padding: 20px;
    margin-left:auto;
}

.typed-text {
    color: #FF8225;
    font-size: 50px;
    position: relative;
    font-family: 'Figtree';
}

.cursor {
    display: inline-block;
    background-color: black;
    width: 2px;
    height: 1.2em;
    animation: blink 0.7s infinite;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 5px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media (min-width: 992px) {
    .container {
        display: block;
    }
}
@media (max-width: 992px) {
    .typing-container {
        display: absolute;
        text-align: center;
        align-items: center;
        font-size: 30px;
        margin: auto;
    }

    .typed-text{
        text-align: center;
        align-items: center;
        font-size: 30px;
        margin: auto;
    }
}

.aboutme-container{
    font-family: 'raleway';
    background-color: #021526;
    align-items: center;
    border-top: #FF8225;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

@media (min-width: 992px) {
    .aboutme-container {
        display: absolute;
        align-items: center;
    }
}
.aboutme{
    font-family: 'Figtree Bold';
    font-size: 50px;
    margin: 20px;
    background-color:#B43F3F;
    color:#F8EDED;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    padding: 20px;
}

.description {
    font-family: 'raleway';
    color:#F8EDED;
    text-align: justify;
    font-size: 18px; 
    line-height: 1.6;
    padding: 20px; 
}


.projects-container{
    font-family: 'raleway';
    background-color: #DBE2EF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media (min-width: 992px) {
    .projects-container {
        display: absolute;
        align-items: center;
    }
}

.projects-title{
    font-family: 'Figtree Bold';
    font-size: 50px;
    margin: 20px;
    color: #021526;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    width: fit-content;
}

.card{
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: #F8EDED;
}

.cardimage{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .cardimage{
        width:100%;
        width: 400px;
        height: auto;
        display: flex;
    }

    .card{
        width:100%;
        width: 400px;
        height: auto;
    }
}

.contents-container {
    font-family: 'raleway';
    padding: 20px;
    background-color: #021526;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 70px;
    padding-right:70px;
}

.contents-title {
    font-family: 'Figtree Bold';
    font-size: 50px;
    margin: 20px;
    background-color: #B43F3F;
    color: #F8EDED;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 576px) {
    .contents-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contents-title {
        font-size: 30px;
    }
}

.submitbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submitbutton:hover {
    background-color: #007bff;
    color: white;
}

.submitbutton:active {
    transform: scale(0.95);
}



.socialmedia-tray{
    background-color: #DBE2EF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialmedia-icons {
    display: flex;
    gap: 15px;
}

.socialmedia-icons img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    transition: width 0.3s ease;
}

.socialmedia-icons img:hover{
    width: 42px;
}